.App {
  display: flex;
}

.Navigation {
  display: flex;
  width: 20%;
  max-width: 480px;
  flex-direction: column;
  background-color: grey;
  height: 100vh;
  /* overflow-y: scroll; */
}

.Calculator {
  display: flex;
  width: 60%;
  max-width: 960px;
  flex-direction: column;
  background-color: gray;
  height: 100vh;
  padding: 48px;
}

.Sidebar {
  display: flex;
  width: 20%;
  max-width: 480px;
  flex-direction: column;
  background-color: darkgray;
  height: 100vh;
}

.ButtonContainer {
  margin-bottom: 1px;
  text-align: left;
  background-color: black;
  max-height: 25vh;
}

.Button {
  display: flex;  
  min-height: 50px;
  max-height: 10vh;
  color: white;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
  padding-left: 2vh;
}

.Button.active {

}

.Button:hover {
  cursor: pointer;
  background-color: teal;
}

hr {
  height: 10vh;
}